/*            */
/* GRID/CARDS */
/* GRID/CARDS */
/* GRID/CARDS */
/*            */

.grid {
    display: grid;
    position: relative;
    max-width: 100%;
    grid-template-columns: repeat(4, 266px);
    grid-template-rows: repeat(6, 266px);
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 80px;
}

.grid-container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

.card {
    border-radius: 32px;
    background-color: var(--card-color);
    box-shadow: 0.2rem 0.4rem 12rem rgba(0, 0, 0, 0.08);
    padding: 32px;
    transition: var(--transition-delay);
    overflow: hidden;
}

/*            */
/*     NAV    */
/*     NAV    */
/*     NAV    */
/*            */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    padding: 0 32px;
    max-width: 1200px;
    margin: 32px auto 32px auto;
}

.filters-container {
    background-color: var(--filter-background-color);
    transition: var(--transition-delay);
    padding: 4px 5px 4px 5px;
    border-radius: 100px;
}

.filters {
    display: flex;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

/*               */
/*  THEME TOGGLE */
/*  THEME TOGGLE */
/*  THEME TOGGLE */
/*               */


.theme-toggle-container {
    position: relative;
    display: block;
    cursor: pointer;
    height: 32px;
    width: 56px;
    border-radius: 100px;
    background: var(--toggle-background);
    box-shadow: var(--toggle-box-shadow);
    transition: var(--toggle-transition);
}

.theme-switch {
    position: absolute;
    top: 4px;
    left: var(--switch-position-left);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: var(--switch-background);
    box-shadow: var(--switch-box-shadow);
    transition: var(--toggle-transition);
}

.theme-toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.toggle-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 13px;
    height: 13px;
    pointer-events: none;
    color: var(--toggle-icon-color);
}

.sun,
.dark .moon {
    opacity: 1;
    transition: 0.2s;
}

.moon,
.dark .sun {
    opacity: 0;
    transition: 0.2s;
}

/*            */
/*    INTRO   */
/*    INTRO   */
/*    INTRO   */
/*            */

.card-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-subheader {
    margin-bottom: 0.5em;
}

.intro-text {
    font-size: 1rem;
    line-height: 1.2;
    color: var(--text-color);
}

.intro-btn-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    transition: var(--transition-delay);
}

.intro-btn {
    border: 2px solid rgb(215, 215, 215);
    background: none;
    cursor: pointer;
    font-weight: 500;
    padding: .5em 1.2em;
    border-radius: 100px;
    transition: var(--transition-delay);
    color: var(--text-color);
}

.intro-btn:hover {
    box-shadow: 0 0 0 7px var(--filter-background-color)
}

.intro-btn:active {
    box-shadow: 0 0 0 7px rgba(165, 165, 165, 0.5);
}


/*         */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/*         */

.card-contact {
    /* margin: 32px 0; */
    border: none;
    outline: none;
    /* transition: none; */
}

form .form-row .input-data {
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
    background-color: transparent;

}

form .form-row .textarea {
    height: 100%;
}

.form-header {
    margin-bottom: 20px;
}

.input-data input,
.textarea textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    outline: none;
    background-color: var(--card-color);
    color: var(--text-color);
    background-color: transparent;
}

.input-data input:focus~label,
.textarea textarea:focus~label,
.input-data input:valid~label,
.textarea textarea:valid~label {
    transform: translateY(-25px);
    font-size: 14px;
    color: #3498db;
}

input:focus,
input:active {
    border-color: transparent;
}

.textarea textarea {
    resize: none;
    padding-top: 10px;
}

.input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.textarea label {
    margin-top: 100px;
    width: 100%;
    bottom: 210px;
    background: #fff;
    background-color: transparent;
}

.input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before,
.textarea textarea:focus~.underline:before,
.textarea textarea:valid~.underline:before {
    transform: scale(1);
}

.contact-btn {
    border: 2px solid rgb(215, 215, 215);
    background: none;
    cursor: pointer;
    font-weight: 500;
    padding: .5em 1.2em;
    border-radius: 100px;
}

.contact-btn:hover {
    box-shadow: 0 0 0 7px var(--filter-background-color)
}

.contact-btn:active {
    box-shadow: 0 0 0 7px rgba(165, 165, 165, 0.5);
}

/*            */
/* SKILLS     */
/* SKILLS     */
/* SKILLS     */
/*            */

.skill-icon {
    width: 50px;
    height: 50px;
    margin: 5px 0;
    transition: var(--transition-delay);
    opacity: .9;
}

.skill-icon:hover {
    opacity: 1;
    transform: scale(1.1);
}


.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}


/* PROJECTS */
/* PROJECTS */
/* PROJECTS */


.project-skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
    margin-top: 7px;
}

.project-preview-container {
    display: flex;
    height: 270px;
    width: 202px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}


/*            */
/* MAPBOX API */
/* MAPBOX API */
/* MAPBOX API */
/*            */


#map {
    width: 100%;
    height: 100%;
    position: relative;
    /* pointer-events: none; */
}

.card-map {
    padding: none;
    border-radius: 32px;
    overflow: hidden !important;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-compass {
    display: none !important;
}

.mapboxgl-ctrl-group {
    /* display: none !important; */
    opacity: 0.1;
}


/* .zoom-icon {
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 100px;
    position: absolute;
    background: rgb(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    right: 16px;
    bottom: 16px;
}

.zoom-icon:hover {
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.5);
}

.zoom-in-icon {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.zoom-out-icon {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.my-custom-control {
    pointer-events: auto;
} */




/*              */
/* SOCIAL MEDIA */
/* SOCIAL MEDIA */
/* SOCIAL MEDIA */
/*              */

.social-media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.social-media-logo {
    color: #ffffff;
    height: 80px;
    width: 80px;
}

.right-arrow {
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 100px;
}

.social-media-btn {
    position: absolute;
    background: rgb(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    right: 16px;
    bottom: 16px;
}

.social-media-btn:hover {
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.5);
}

.card-github {
    background: #252525;
}

.card-linkedin {
    background: #5285ce;
}